.divMain {
  display: flex;
}

.crownImg {
  background-image: url("images/crown-site-clone.png");
  background-position: top-center;
  background-size: cover;
  height: 400px;
  width: 100%;
}

.bottomBand {
  background-color: black;
  color: white;
  font-size: .75rem;
  min-height: 125px;
  width: 100%;
}

.lineht {
  line-height: .5rem;
}

.crownLogo {
  background-image: url("images/crown-logo.png");
  height: 120px;
  width: 120px;
  background-repeat: no-repeat;
  background-position: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.centr {
  text-align: center;
  align-items: center;
}

.blocktext {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}

.mission {
  background-color: black;
  color: white;
  font-size: 3rem;
  font-family: 'Times New Roman';
  min-height: 200px;
}

/* HELPERS */
.pad-1 {
  padding: 1rem;
}

.pad-2 {
  padding: 2rem;
}

.pad-4 {
  padding: 4rem;
}

.pad-6 {
  padding: 6rem;
}

.mar-1 {
  margin: 1rem;
}

.mar-2 {
  margin: 2rem;
}

.mar-left-1 {
  margin-left: 1rem;
}

/* BOOTSTRAP OVERRIDES */
